.hamburger:hover > div:nth-child(1) {
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: 1.5s;
  transform: rotate(45deg);
}

.hamburger:hover > div:nth-child(2) {
  animation-name: middle;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  transition: 0.5s;
  opacity: 0;
}

.hamburger:hover > div:nth-child(3) {
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: 1.5s;
  transform: rotate(-45deg);
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {
    transform: translateY(0%) rotate(0deg);
    transition: 0.5s;
  }
  to {
    transform: translateY(320%) rotate(45deg);
    transition: 2s;
  }
}

@keyframes middle {
  from {
  }
  to {
  }
}

@keyframes bottom {
  from {
    transform: translateY(0%) rotate(0deg);
    transition: 0.5s;
  }
  to {
    transform: translateY(-320%) rotate(-45deg);
    transition: 2s;
  }
}
